<div class="row mt-3">


  <div class="col-lg-4 offset-lg-4 mt-4">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-6" style="cursor:pointer;">
        <div class="fondoItem bg-gradient" (click)="masculino()"
          [ngClass]="{'sexoActivo': sexo==='masculino'}">
          <div class="contenedor">
            <i class="fa-solid fa-mars text-dark"></i>
            <p class="text-dark">masculino</p>
          </div>
        </div>

      </div>

      <div class="col-lg-6 " style="cursor:pointer;">

        <div class="fondoItem bg-gradient" (click)="femenino()" [ngClass]="{'sexoActivo': sexo==='femenino'}">
          <div class="contenedor">
            <i class="fa-solid fa-venus text-dark"></i>
            <p class="text-dark">femenino</p>
          </div>
        </div>

      </div>

    </div>
    <div class="row mt-3">

      <div class="col-lg-12 fondoItem bg-gradient p-1">
        <div class="contenedor">
          <p class="h5 mb-4 ">Altura</p>
          <p class="estiloNumero text-dark">
            {{altura}} <span class="h6 centimetros text-dark">
              cm
            </span>
          </p>
          <div class="range">
            <input type="range" [value]="altura" class="form-range" (input)="cambiarAltura($event)" min="0" max="230">
          </div>
        </div>

      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-6">

        <div class="fondoItem bg-gradient">
          <div class="contenedor">
            <p class="h6 mb-3">peso</p>
            <p class="estiloNumero">{{peso}}</p>
            <p>
              <i class="fa-solid fa-minus sumaResta" (click)="peso = peso - 1"></i>
              <i class="fa-solid fa-plus sumaResta bg-success" (click)="peso = peso + 1"></i>
            </p>
          </div>

        </div>
      </div>

      <div class="col-lg-6">
        <div class="fondoItem bg-gradient">
          <div class="contenedor">
            <p class="h6 mb-3">edad</p>
            <p class="estiloNumero">{{edad}}</p>

            <p class="h6"><i class="fa-solid fa-minus sumaResta" (click)="edad = edad - 1"></i>
              <i class="fa-solid fa-plus sumaResta bg-success" (click)="edad = edad + 1"></i>
            </p>


          </div>

        </div>
      </div>

    </div>
    <div class="row mt-3">
      <div class="col-lg-12 col-block">
        <button class="btn btn-success btn-lg btn-block btn-color" (click)="calcularBMI($event)">CALCULAR</button>
      </div>
    </div>


  </div>
</div>
